// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #6e58f1;
$primary-light: #1976d2;
$primary-thick: #00056a;

$secondary: #6ccb4b;
$accent: #6ccb4b;

$dark: #16173d;
$dark-light: #686b8a;
$text-color: #000115;
$text-light-color: #282b42;

$black: #000000;

$positive: #6ccb4b;
$negative: #cb4b4b;
$info: #1976d2;
$warning: #fbc61e;

$white: #ffffff;
$white-light: #f7f9fe;

$grey: #edf0f5;
$grey-light: #e0e4ea;

$banner-pink: #fff2f5;
